@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500;600;700&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Inter', sans-serif;
  
}

.topo {
  height: 170px;
  width: 100%;
  background-color: #fffff;
}

.topo1{
  width: 1350px;
  height: 80px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.2rem;
}

.logo {
  display: flex;
  justify-content: space-between;
  align-items: center;
 
}

.logo a {
  text-decoration: none;
  display: flex;
  align-items: center;
}

.logo img {
  width: 33px;
  height: 33px;
}

.logo h1 {
  font-style: normal;
  font-weight: 600;
  font-size: 36.34px;
  color: #C92071;
  padding-left: 8px;
}

.seach {
  width: 603.72px;
  height: 64.8px;
  display: flex;
  align-items: center;
}

.seach form {
  display: flex;
  justify-content: space-between;
  width: 100%;
  box-shadow: 1px 1px 6px #0000001c;
  padding: 0.8rem 1.2rem;
  border-radius: 8.64px;
  background-color: #f5f1f175;
  
}

.seach input {
  width: 100%;
  background-color: transparent;
  border: none;
  outline: none;
}

.seach form:hover {
    background-color: #eeeeee75;
     outline: 1px solid #C92071;
}

.seach form:focus-visible {
    outline: 1px solid #C92071;
}

.seach placeholder {
  color: #666666;
  width: 179px;
  height: 31px;
  font-weight: 400;  
}

.cadastro {
  width: 350px;
  height: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.cadastro a, .cadastro a:visited {
  font-size: 17.28px;
  font-weight: 400px;
  color: #474747;
  padding-left: 0.5rem;
}

.cadastro a:hover {
  color: #807d7d;
}

.cadastro button {
  font-size: 14px;
  font-weight: 700;
  background-color: #C92071;
  border-radius: 8px;
  height: 43.2px;
  width: 123.1px;
  border: none;
  cursor: pointer;
}

.cadastro button a, .cadastro button a:visited {
  color: #F5F5F5;
  text-decoration: none;  
}

.cadastro button:hover {
  background-color: #ee3a91;
}

.carrinho {
  text-decoration: none;
  position: relative;
}

.img1 {
  width: 25px.;
  height: 20px;
}

.img2 {
 
  border-radius: 8px;
  background-color: #EE4266;
  position: relative;
  left: -11px;
  top: -9px;   
} 

.menu {
  width: 1350px;
  height: 40px;
  margin: 0 auto;
}

.menu ul {
  width: 500px;
  height: 90px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  list-style: none;
}

.menu li a, .menu li a:visited {
  text-decoration: none;
  color: #474747;;
  font-size: 17.28px;
  font-weight: 700;
}


.menu li a:hover {
  color: #EE4266;
  text-decoration: underline;
}

.banner {
  background-image: url(imgs/fundo2.jpg);
  width: 100%;
  height: 500px;
  display: flex; 
  justify-content: center;  
  padding-right: 30px;
}

.conteudo {
  width: 500px;
  height: 425px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin-top: 30px;
  margin-left:15px;
}
.conteudo span {
  font-size: 16px;
  font-weight: 700;
  color: #F6AA1C;
}

.conteudo h1 {
  font-size: 55px;
  font-weight: 800;
  color: #1F1F1F;
}

.conteudo p {
  font-size: 18px;
  font-weight: 400;
  color: #474747;
}

.conteudo a, .conteudo a:visited {
  width: 220px;
  height: 48px;
  text-decoration: none;
  background-color: #C92071;
  border-radius: 8px;  
  display: flex;
  justify-content: center;
}

.conteudo button {
  background-color: #C92071;
  border: none;
  color: #F5F5F5;
  font-size: 16px;
  font-weight: 700;
  cursor: pointer;
}

.conteudo button:hover {
  color: #dad8d8;
}

.sapato img {
  width: 700px;
  height: 500px;
  transform: rotate(-6deg);
  margin-left: 0;
  margin-top: 0;
}

.banner .assessorio {
  position: relative;
  left: -80px;
  top: 25px;
}

.background {
  background: #E5E5E5;
}


.prodDestaqueTitle {
  font-size: 24px;
  font-weight: 700;
  padding-top: 30px;
  padding-left: 30px;  
  margin-bottom: 40px;
  color: #474747;
}

.produto-destaque1 {
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 18px;
}

.cardDestaque {
  width: 410px;
  height: 250px;
  display: flex;  
  justify-content: space-between;
  border-radius: 10px;
  background: #D8E3F2;
}

.cardImg {
  width: 180px;
  height: 200px;
}

.cardDestaqueLateral1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
  margin-left: 15px;
}

.cardOferta {
 width: 100px; 
 background: #E7FF86;
 color: dark-gray-2;
 border-radius: 14px;
 text-align: center;
 font-size: 14px;
 font-weight: 700;
 padding: 8px;
}

.cardTitle {
  font-size: 32px;
  font-weight: 700;
  color: #1F1F1F;
  
}

.btnComprar {
  background: #F5F5F5;
  color: #C92071;
  font-size: 18px;
  font-weight: 700;
  padding: 12px;
  border-radius: 11px;
  cursor: pointer;
  transition: 0.5;
  border: 1px solid transparent;
}

.btnComprar:hover {
  background-color: #C92071;
  color: white;
}

.cardDestaqueLateral2 {
  display: flex;
  align-items: end;
}

.titleCar2 {
   font-size: 24px;
   font-weight: 700;
   color: #474747;
   text-align: center;
   margin-top: 60px;
   margin-bottom: 45px;
}

.produto-destaque2 {
  display: flex;
  justify-content: center;
  gap: 70px;
}

.subcard {
  padding: 25px;
  cursor: pointer;
} 

.subTitle {
  text-align: center;
  padding-top: 10px;
  color: #474747;
  font-size: 14px;
  font-weight: 700;
  border-radius: 2px solid transparent;
  transition: 0.4px;
}

.subCardImg:hover {
  background-color: #ffffff;
  border-radius: 35px;
  padding: 11px;
}

.prodEmAltaInicio {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 15px;
  margin-top: 80px; 
}

.prodEmAltaTitle {
  color: #474747;
  font-size: 24px;
  font-weight: 700;
  color: #474747; 
  padding-left: 10px;
}

.prodVerTodos {
  background-image: url(imgs/Line.png);
  background-repeat: no-repeat;
  background-position:  right;
  padding: 23px;
  margin-right: 150px;
  font-size: 18px;
  font-weight: 600;
  color: #C92071;
  cursor: pointer;
  transition: 0.5px;
}

.prodVerTodos:hover {
  background-color: white;
  border-radius: 10px;
}

.prodEmAlta {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  margin-left: 110px;
  gap: 20px;
}

.blocoEmAlta {
  width: 250px;  
  padding: 10px;
  cursor: pointer;
}


.prodEmAltaImg {
  background: white ;
  width: 210px;
  box-shadow: 3px 4px 5px #696262;
  border-radius: 6px;
}

.miniTitle {
  font-size: 12px;
  font-weight: 700;
  color: #8F8F8F;
  padding: 6px 0;
}

.descricaoText {
  color: #474747;
  font-size: 18px;
  font-weight: 600;
  padding-bottom: 6px;
}

.valorCheio {
  color: #8F8F8F;
  text-decoration: line-through;
  font-size: 18px;
}

.valorDesconto {
  font-size: 18px;
  font-weight: 700;
}
.ofertaEspecial {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 70px;
  width: 100%;
  height: 500px;
}

.cardOfertaEpecial1 {
  background-image: linear-gradient(to bottom, rgb(159, 135, 224), transparent 80%);
  border-radius: 50px;
  height: 320px;
  
}

.cardOfertaEpecial2 {
  width: 470px;
  height: 320px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

}

.imgOfertaespecal {
  width: 400px;
}

.mintitleOfertaEspecial {
  color: #C92071;
  font-size: 14px;
  font-weight: 700;
}

.titleOfertaEspecial {
  font-size: 48px;
  font-weight: 700;
  color: #474747;
}

.descricaoOfetaEspecial {
  font-size: 16px;
  columns: #474747;
  padding: 6px;
}

.btnOfertaespecial {
  background-color: #C92071;
  color: white;
  font-size: 18px;
  font-weight: 700;
  padding: 15px;
  border: none;
  border-radius: 15px;
  width: 170px;
  cursor: pointer;
}

.btnOfertaespecial:hover {
  background-color: white;
  color: #C92071;
  border: 2px solid #C92071;
}

.seccaofooter {
  background-color: #1F1F1F;
  color: white;
  width: 100%;
  height: 500px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  
  
}

.sobreEmpresa {
  width: 450px;
  height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  
}

.logoFooter {
  display: flex;
  gap: 5px;
  cursor: pointer;
}

.redesSociaisFooter {
  display: flex;
  gap: 30px;
  cursor: pointer;
}

.informaçõesFooter {
  width: 200px;
  height: 320px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  
}

.footerTitle { 
  font-size: 20px;
  font-weight: 700;
}

.contatoFooter {
  width: 200px;
  height: 320px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.footerText {
  cursor: pointer;
}